<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="newVetsStyle.css">
    <title>new_meal</title>
</head>

<body>

    <div id="wrapper">
        <div align="center">
            <h1>Dodaj nowego weterynarza</h1>
            <br />

            <form action="#" th:action="@{save}" th:object="${vet}" method="post">
                <table border="0" cellpadding="10">
                    <tr>
                        <td>Imię:</td>
                        <td><input type="text" th:field="*{firstName}" /></td>
                    </tr>
                    <tr>
                        <td>Nazwisko:</td>
                        <td><input type="text" th:field="*{lastName}" /></td>
                    </tr>
                    <tr>
                        <td>Specjalność:</td>
                        <td><input type="text" /></td>
                    </tr>

                    <tr>
                        <td colspan="2"><button type="submit">Zapisz</button></td>
                    </tr>
                </table>



            </form>
        </div>
    </div>
</body>

</html>