<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>new_meal</title>
</head>

<body>
<style>
    #topnav{
        text-align: right;
    }
</style>

<div id="topnav">
    <a th:href="@{/find}">FIND OWNERS</a>
    <a th:href="@{/vets}">LIST OF VETS</a>
    <a th:href="@{/drugs}">DRUG DB</a>
</div>

<div align="center">
    <h1>Create New Pet</h1>
    <br/>

    <form action="#" th:action="@{savePet/owner/{id}(id=${ownerId})}" th:object="${pet}" method="post">
        <table border="0" cellpadding="10">
            <tr>
                <td>name:</td>
                <td><input type="text" th:field="*{name}"/></td>
            </tr>
            <tr>
                <td>type id</td>
                <td><input type="text" th:field="*{petType}"/></td>
            </tr>
            <tr>
                <td>birth date:(FORMAT)2010-05-08 </td>
                <td><input type="text" th:field="*{birthDate}"/></td>
            </tr>



            <tr><td colspan="2"><button type="submit">Save</button></td></tr>
        </table>



    </form>
</div>

</body>
</html>