<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- <meta charset="UTF-8"/> -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="newOwnersStyle.css">
    <title>new_meal</title>
</head>

<body>

    <div id="wrapper">
        <div align="center">
            <h1>Dodaj nowego właściciela</h1>
            <br />

            <form action="#" th:action="@{saveOwner}" th:object="${owner}" method="post">
                <table border="0" cellpadding="10">
                    <tr>
                        <td>Imię:</td>
                        <td><input type="text" th:field="*{firstName}" /></td>
                    </tr>
                    <tr>
                        <td>Nazwisko:</td>
                        <td><input type="text" th:field="*{lastName}" /></td>
                    </tr>
                    <tr>
                        <td>Adres:</td>
                        <td><input type="text" th:field="*{address}" /></td>
                    </tr>
                    <tr>
                        <td>Miasto:</td>
                        <td><input type="text" th:field="*{city}" /></td>
                    </tr>
                    <tr>
                        <td>Numer telefonu:</td>
                        <td><input type="text" th:field="*{telephone}" /></td>
                    </tr>

                    <tr>
                        <td colspan="2"><button type="submit">Zapisz</button></td>
                    </tr>
                </table>



            </form>
        </div>
    </div>
</body>

</html>