<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>new_meal</title>
</head>

<body>


<div align="center">
    <h1>Create New Meal</h1>
    <br/>

    <form action="#" th:action="@{saveOwner}" th:object="${owner}" method="post">
        <table border="0" cellpadding="10">
            <tr>
                <td>Owner First Name:</td>
                <td><input type="text" th:field="*{firstName}"/></td>
            </tr>
            <tr>
                <td>Owner Last Name:</td>
                <td><input type="text" th:field="*{lastName}"/></td>
            </tr>
            <tr>
                <td>Address:</td>
                <td><input type="text" th:field="*{address}"/></td>
            </tr>
            <tr>
                <td>City:</td>
                <td><input type="text" th:field="*{city}"/></td>
            </tr>
            <tr>
                <td>Telephone:</td>
                <td><input type="text" th:field="*{telephone}"/></td>
            </tr>

            <tr><td colspan="2"><button type="submit">Save</button></td></tr>
        </table>



    </form>
</div>

</body>
</html>