<!DOCTYPE html>

<html lang="pl" xmlns:th="https://www.thymeleaf.org">

<head>
    <!-- <meta charset="UTF-8"/> -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Owner Details Index</title>

    <link rel="stylesheet" href="ownerDetailsStyle.css">
</head>

<body>

    <div id="wrapper">
        <h2>Informacje o właścicielu</h2>


        <table class="table table-striped" th:object="${owner}">
            <tr>
                <th>Imię i nazwisko:</th>
                <td><b th:text="*{firstName + ' ' + lastName}"></b></td>
            </tr>
            <tr>
                <th>Adres</th>
                <td th:text="*{address}"></td>
            </tr>
            <tr>
                <th>Miasto:</th>
                <td th:text="*{city}"></td>
            </tr>
            <tr>
                <th>Telefon:</th>
                <td th:text="*{telephone}"></td>
            </tr>
        </table>

        <!--<a th:href="@{{id}/edit(id=${owner.id})}" class="btn btn-default">Edit
  Owner</a>-->
        <a th:href="@{/pets/new/{id}(id=${owner.id})}" class="btn btn-default" href="a">Dodaj zwierzę</a>
        <a th:href="@{/delete/{id}(id=${owner.id})}" class="btn btn-default" href="a">Usuń właściciela</a>

        <br />
        <br />
        <br />
        <h2>Zwierzęta i ich wizyty</h2>

        <table class="table table-striped">

            <tr th:each="pet : ${owner.pets}">
                <td><a
              th:href="@{delete/pet/{petId}(petId=${pet.id})}" href="a">Usuń zwierzę</a></td>
                <td valign="top">
                    <dl class="dl-horizontal">
                        <dt>Imię:</dt>
                        <dd th:text="${pet.name}"></dd>
                        <dt>Data urodzenia:</dt>
                        <dd th:text="${pet.birthDate}"></dd>
                        <dt>Rasa:</dt>
                        <dd th:text="${pet.petType}"></dd>
                    </dl>
                </td>
                <td valign="top">
                    <table class="table-condensed">
                        <thead>
                            <tr>
                                <th>Data wizyty:</th>
                                <th>Opis:</th>
                            </tr>
                        </thead>
                        <tr th:each="visit : ${pet.visits}">
                            <td th:text="${visit.date}"></td>
                            <td th:text="${visit?.description}"></td>
                            <td><a
                   th:href="@{delete/visit/{visitId}(visitId=${visit.id})}" href="a">Usuń wizytę</a></td>
                        </tr>
                        <tr>
                            <!-- <td><a delete/visit/{visitId}
                  th:href="@{{ownerId}/pets/{petId}/edit(ownerId=${owner.id},petId=${pet.id})}">Edit
            Pet</a></td>-->
                            <td><a
                  th:href="@{/pets/visits/new/{petId}(petId=${pet.id})}" href="a">Dodaj wizytę</a></td>
                        </tr>
                    </table>
                </td>
            </tr>

        </table>

    </div>

</body>

</html>