<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Pet Clinic Index</title>
</head>
<body>
<style>
    #topnav{
        text-align: right;
    }
</style>

<div id="topnav">
    <a th:href="@{/index}">HOME</a>
    <a th:href="@{/find}">FIND OWNERS</a>
    <a th:href="@{/vets}">LIST OF VETS</a>
    <a th:href="@{/drugs}">DRUG DB</a>
</div>

<h1 th:text="'WELCOME IN VetServiceSystem!'">Index Page</h1>
<p>YOU HAVE  <span th:text="${visits}">NUM OF VISITS</span> VISITS</p>
<p>YOU HAVE  <span th:text="${owners}">NUM OF OWNERS</span> OWNERS</p>
<p>YOU HAVE  <span th:text="${pets}">NUM OF PETS</span> PETS</p>
<p>YOU HAVE  <span th:text="${vets}">NUM OF VETS</span> VETS</p>



</body>
</html>