<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <!-- <meta charset="UTF-8"> -->
    <title>new_meal</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Clinic Index</title>

    <link rel="stylesheet" href="newVisitsStyle.css">
</head>

<body>
    <div id="wrapper">

        <div align="center">
            <h1>Dodaj nową wizytę</h1>
            <br />
            <!-- <-- pets/visits/new/saveVisit/{petId} pets/visits/new/pets/visits/new/saveVisit/17 --> 
        <!-- -->
                <form action="#" th:action="@{saveVisit/{id}(id=${petId})}" th:object="${visit}" method="post">
                    <table border="0" cellpadding="10">

                        <tr>
                            <td>Opis</td>
                            <td><input type="text" th:field="*{description}" /></td>
                        </tr>
                        <tr>
                            <td>Data: (FORMAT: 2010-05-08) </td>
                            <td><input type="text" th:field="*{date}" /></td>
                        </tr>



                        <tr>
                            <td colspan="2"><button type="submit">Zapisz</button></td>
                        </tr>
                    </table>



                </form>
        </div>
    </div>
</body>

</html>